.ms-7{
  margin-left: 100px !important;
  gap: 100px !important;
}
.display-flex-for-gap{
    display: flex !important;
     flex-direction: row !important;
     gap: 40px !important;   
     margin-left: 700px;
     background-color: black;
}
.text-span{
 margin-top: 100px;
}